<div class="container" *ngIf="!isShownEscena">
    <p >Follow the story line un/a client/a té una web de gestió empresarial desenvolupada amb Angular 
    (com a producte principal) i ens ha demanat que desenvolupem un tutorial, en el qual, 
    mitjançant dos botons els nous usuaris/àries poden avançar o retrocedir en els consells, 
    modificant-se el text d'ajuda i la imatge de fons.
    </p>
    <button (click)="showEscena()" > Start </button>
</div>
<app-escena [textsList]="historicalTexts" *ngIf="isShownEscena"></app-escena>