button{
    width:50%;
    height: 50px;
    font-size: large;
}

p{
    font-family: 'Times New Roman', Times, serif;
    border: black solid;
    border-radius: 20px;
    min-height: 3rem;
    height: fit-content;
    padding: 5px 25px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentSentence{
    background-color: #FFC0CB;
}